

	<div class="container centrado-v-h animated-fast fadeIn" id="inicio">

		<div class="row" id="inicio-panel">
				<h1><%= title %></h1>
				<p>Gestión de lecturas y consumos.</p>
				<h6>Procedentes de suministros externos o depósitos.</h6><p>

				<br>

				<button class="btn btn-default"
					data-toggle="modal"
					data-target="#ver-mas-modal">
						Ver más
				</button>

		</div>


		<div class="animated fadeIn" id="wrap">
			<img class="bgfade responsive" src="/images/inicio/01.jpg">
			<img class="bgfade responsive" src="/images/inicio/02.jpg">
			<img class="bgfade responsive" src="/images/inicio/03.jpg">
			<img class="bgfade responsive" src="/images/inicio/04.jpg">
			<img class="bgfade responsive" src="/images/inicio/05.jpg">
			<img class="bgfade responsive" src="/images/inicio/06.jpg">
		</div>



		<!-- MODAL ver mas ===================================================================================== -->
		<div class="modal fade" id="ver-mas-modal" tabindex="-1" role="dialog" aria-labelledby="inicio" aria-hidden="true" style="padding-left: 0px">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header text-center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h2>inciPro</h2>

					</div>

					<div class="modal-body">
	<!-- 				<img class="img-responsive animated fadeIn" src="/images/marcas/mediterraneo-modal.jpg" alt="">
						<div class="texto-modelo ocultar">
							<img src="/images/logos/el-sol-mediterraneo.jpg" style="left: 0px;"></img>
			        	</div>
						<br> -->
						<p>
							inciPro es una aplicación para la gestión de consumos procedentes de suministros externos o depósitos.
							Su ámbito de aplicación es en todas aquellas instalaciones que consten de sistemas de distribución de aguas, combustibles o electricidad.
						</p>
						<p>Permite obtener en tiempo inmediato los informes sobre consumos, generando avisos sobre posibles desvíos.</p>
						<p>Reduce alrededor de un 80% el tiempo empleado en sistemas tradicionales.<p>
						<p>Web Developer: José Juan Montoyo Coronati</p>
						<p class="text-center">&copy; 2017 cosilsCompany, Inc. &middot;
							<a href="mailto:jotamontoyo@hotmail.es">jotamontoyo@hotmail.es</a> &middot;
							<a
								data-toggle="modal"
								data-target="#lopd-modal">Terms
							</a>
						</p>
					</div>

					<div class="modal-footer">
						<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>



		<!-- MODAL POLITICA DE PRIVACIDAD ===================================================================================== -->
		<div class="modal fade" id="lopd-modal" tabindex="-1" role="dialog" aria-labelledby="myLOPD" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myLOPD">&copy; 2017 cosilsCompany, Inc.</h4>
					</div>
					<div class="modal-body">

						<h3 class="text-center">Política de Privacidad</h3>
						<br>
						<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, cosilsCompany, Inc. (en adelante, “cosilsCompany” informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web https://incipro.herokuapp.com (en adelante, el “Sitio Web”) acerca de su política de protección de los datos de carácter personal recogidos de los Usuarios del Sitio Web, para que éstos determinen libre y voluntariamente si desean facilitar a cosilsCompany los datos personales que se les puedan requerir o que se puedan obtener sobre los mismos con ocasión de su acceso y uso del Sitio Web.</p>

						<p>Los únicos datos personales a los que cosilsCompany tendrá acceso a través del Sitio Web serán aquellos que el Usuario facilite voluntariamente, así como aquellos otros recogidos a través de las cookies instaladas y cuya Política de Privacidad puede consultar en el siguiente enlace https://incipro.herokuapp.com/cookies.</p>

						<p>En cumplimiento de la normativa vigente, cosilsCompany adopta las medidas técnicas y organizativas necesarias para mantener el nivel de seguridad requerido en atención a los datos personales tratados. Asimismo está dotado de los mecanismos precisos a su alcance para evitar en la medida de lo posible accesos no autorizados, sustracciones y modificaciones ilícitas y la pérdida de los datos.</p>

						<p>Tratamiento de datos de carácter personal facilitados a través del Sitio Web.</p>

						<p>De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, cosilsCompany, con domicilio en Moralet, 137-A - San Vicente del Raspeig - Alicante, informa al Usuario que los datos que pueda facilitar a través del Sitio Web serán incorporados a un fichero automatizado de datos de carácter personal titularidad de cosilsCompany. Usted podrá consultar los tratamientos específicos que nuestra Compañía puede hacer con sus datos en cada uno de los apartados de nuestra web donde se recaben sus datos. Le recomendamos leer el contenido de las cláusulas de protección de datos que se incluyen en cada apartado a la hora de recabar sus datos. Con carácter general se tratarán sus datos con las siguientes finalidades:</p>
						<ul>
							<li>Contacto: Los datos recabados serán incorporados a un fichero (que podrá ser automatizado) responsabilidad de cosilsCompany, a los efectos de poder gestionar o en su caso, tener en cuenta y/o contestar a su consulta, comentario o sugerencia.</li>

							<li>En todos los formularios de recogida de datos presentes en el Sitio Web, cosilsCompany facilita una casilla mediante la cual el Usuario podrá oponerse/negarse a la cesión indicada.</li>

							<li>El consentimiento otorgado por el Usuario podrá ser revocado mediante notificación dirigida a la siguiente dirección de correo electrónico: jotamontoyo@hotmail.es o bien por correo ordinario dirigido a cosilsCompany, Moralet, 137-A - San Vicente del Raspeig - Alicante.</li>

							<li>El Usuario se responsabiliza de la veracidad y exactitud de los datos personales comunicados, reservándose cosilsCompany el derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.</li>

							<li>En cualquier caso, el Usuario podrá hacer efectivo el ejerciciode sus derechos de acceso, rectificación, cancelación y oposición, mediante e-mail dirigido jotamontoyo@hotmail.es como mediante petición escrita dirigida a la dirección postal antes señalada.</li>

							<li>Finalmente Ud. se compromete a comunicar a cosilsCompany cualquier modificación de los datos personales facilitados.</li>

							<li>En caso de que el Usuario sea menor de 14 años, sus datos personales deben ser facilitados con autorización de su representante legal.</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning btn-xs" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>


	</div>
