
	<div class="row alerta-cookies animated bounceInDown text-center">
		<div class="alert alert-warning alert-dismissible alerta-panel" role="alert">
<!--			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
			<p><strong>¡Uso de cookies!</strong> Este sitio web utiliza cookies para que usted tenga la mejor experiencia de usuario. Si continúa navegando está dando su consentimiento para la aceptación de las mencionadas cookies y la aceptación de nuestra política de cookies, pinche el enlace
			<a 	data-toggle="modal"
				data-target="#lopd-modal">
				<span> política de privacidad</span>
			</a>
			para más información.
			<button type="button" class="btn btn-success btn-sm" data-dismiss="alert" aria-label="Close">Aceptar</button></p>
		</div>
	</div>




<!--	<div class="animated fadeIn" id="wrap">
		<img class="bgfade responsive" src="/images/inicio/01.jpg">
		<img class="bgfade responsive" src="/images/inicio/02.jpg">
		<img class="bgfade responsive" src="/images/inicio/03.jpg">
		<img class="bgfade responsive" src="/images/inicio/04.jpg">
		<img class="bgfade responsive" src="/images/inicio/05.jpg">
		<img class="bgfade responsive" src="/images/inicio/06.jpg">
	</div> -->

	<div class="container-fluid bordes text-center animated fadeIn" id="inicio">

<!--		<img src="/images/inicio/09.jpg" > -->

		<div id="login_inicio">

			<form class="form-horizontal" method='POST' action='/login' id="inicio_form">

				<div class="form-group">

						<div class="col-md-4 col-sm-4 col-xs-4 input-login-incio">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-user" /></i></div><input class="form-control" type="text" id="login" name="login"  placeholder=" usuario"/>
							</div>
						</div>

						<div class="col-md-4 col-sm-4 col-xs-4 input-login-incio">
							<div class="input-group">
								<div class="input-group-addon"><i class="fa fa-key" /></i></div><input class="form-control" type="password" id="password" name="password" placeholder=" clave"/>
							</div>
						</div>

						<div class="col-md-3 col-smd-3 col-xs-1 input-login-incio">
							<button class="btn btn-default btn-xs" type="submit"><i class="fa fa-check"></i></button>
						</div>

				</div>

			</form>

		</div>






		<div id="inicio-panel">
				<h1>Gestión de Contadores y Ensayos</h1>
				<h1><%= title %><span style="font-size: 18px"> &copy;</span></h1>
				<h3>Lecturas y consumos de suministros externos o depósitos</h3>
				<h3>Ensayos de aguas de piscinas y vasos</h3>
				<br>
				<button class="btn btn-primary"
					data-toggle="modal"
					data-target="#ver-mas-modal">
						<i class="fa fa-plus"></i> Info
				</button>
		</div>



	</div>


	<!-- SECCION 01 =================================================================================== -->

	<div class="container-fluid animated animated-fast fadeIn" id="seccion_01">

		<div class="row" id="seccion_01_items">

			<div class="col-md-4 seccion_item">

				<h3><img src="/images/seccion01/pc.png" alt=""></h3>

				<h3>Sencilla</h3>

				<p>Desarrollada para trabajo de campo. Una vez registradas las lecturas insitu no habrá más tareas administrativas adicionales.</p>

			</div>

		  	<div class="col-md-4 seccion_item">

				<h3><img src="/images/seccion01/reloj.png" alt=""></h3>

				<h3>Rápida</h3>

				<p>Empiece hoy a gestionar sus consumos y análisis. Visualice los resultados o descarguelos en su equipo.</p>

			</div>

		  	<div class="col-md-4 seccion_item">

				<h3><img src="/images/seccion01/calculadora.png" alt=""></h3>

				<h3>Rentable</h3>

				<p>Ahorre hasta el 80% del tiempo de sistemas tradicionales. Podrá reinvertir el tiempo ahorrado en tareas más productivas.</p>

			</div>

		</div>

	</div>


	<!-- SECCION 02 =================================================================================== -->

	<div class="container-fluid" id="seccion_02">



		<h2 class="text-center">Así de fácil...</h2>

		<div class="row" id="seccion_02_items">

			<div class="col-md-3 seccion_item">

				<h3><img src="/images/1.png" alt=""></h3>

				<p><strong>Solicite una clave de prueba gratuita.</strong> Cumplimente el formulario de abajo sin nigún compromiso.</p>

			</div>

			<div class="col-md-3 seccion_item">

				<h3><img src="/images/2.png" alt=""></h3>

				<p><strong>Configure su instalación.</strong> Defina los contadores y piscinas.</p>

			</div>

		  	<div class="col-md-3 seccion_item">

				<h3><img src="/images/3.png" alt=""></h3>

				<p><strong>Dé de alta usuarios.</strong> Cada uno tendrá su propio ámbito de trabajo.</p>



			</div>

		  	<div class="col-md-3 seccion_item">

				<h3><img src="/images/4.png" alt=""></h3>

				<p><strong>Cree los partes de lecturas y de ensayos.</strong> Revise los consumos y sus posibles desvíos.</p>


			</div>


		</div>

	</div>


	<!-- PIE BANNER =================================================================================== -->

	<div class="container-fluid" id="pie_banner">

		<div class="container" id="pie_banner_contenedor">



			<div class="row">

				<div class="col-md-3">

					<table>

						<thead>

								<th><h4>CONTACTO</h4></th>

						</thead>

						<tbody>
							<tr>
								<td><h5><i class="fa fa-industry"></i> &copy; 2017 cosilsCompany, Inc.</h5></td>
							</tr>
							<tr>
								<td><h5><i class="fa fa-home"></i> Partida Moralet, 137-A - 03699 - Alicante</h5></td>
							</tr>
							<tr>
								<td><h5><i class="fa fa-phone"></i> 0034658214679</h5></td>
							</tr>
							<tr>
								<td><h5><i class="fa fa-envelope"></i> contacto@registrosdemantenimiento.com</h5></td>
							</tr>
						</tbody>


					</table>




				</div>





				<div class="col-md-3">

					<form class="form-horizontal" method="post" action="/contactos/webcreate" id="contacto_form">

						<h4>CONTACTO</h4>
						<br>

						<div class="form-group">
							<input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre"/>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" id="email" name="email" required placeholder="Email"/>
						</div>

						<div class="form-group">
							<textarea class="form-control" id="comentario" name="comentario" rows="6" placeholder="Comentarios"></textarea>
						</div>

						<div class="form-group">
							<div class="col-md-12 text-center" id="check_lopd">

									<input type="checkbox" id="lopd" name="lopd" required> Acepto la
										<a class="button"
											data-toggle="modal"
											data-target="#lopd-modal">
											<span> política de privacidad</span>
										</a>
									</input>

							</div>

						</div>

						<div class="form-group">
							<div class="col-md-12 text-center">

								<button class="btn btn-info btn-md" type="submit" id="grabar" value="Salvar">
									<span class="glyphicon glyphicon-send" aria-hidden="true"></span> Solicitar clave
								</button>
							</div>
						</div>

					</form>

				</div>



				<div class="col-md-3">

					<table>

						<thead>

								<th><h4>OTROS PROYECTOS</h4></th>

						</thead>

						<tbody>
							<tr>
								<td><h5><a data-toggle="modal" data-target="#poolcounter-modal">PoolCounter &copy;</a></h5></td>
							</tr>
							<tr>
								<td><h5><a data-toggle="modal" data-target="#watercounter-modal">WaterCounter &copy;</a></h5></td>
							</tr>
						</tbody>


					</table>




				</div>

				<div class="col-md-3">

					<table>

						<thead>

								<th><h4></h4></th>

						</thead>

						<tbody>
							<tr>
								<td></td>
							</tr>

						</tbody>


					</table>




				</div>




			</div>

		</div>

	</div>





	<!-- PIE =================================================================================== -->

	<div class="footer" id="pie">


		<h6>&copy; 2017 cosilsCompany, Inc. &middot;

			<a
				data-toggle="modal"
				data-target="#lopd-modal">Política de privacidad
			</a>

			&middot;

			<a
				data-toggle="modal"
				data-target="#cookies-modal">Política de cookies
			</a>

		</h6>


	</div>














		<!-- MODAL ver mas ===================================================================================== -->
		<div class="modal fade" id="ver-mas-modal" tabindex="-1" role="dialog" aria-labelledby="inicio" aria-hidden="true" style="padding-left: 0px">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header text-center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h2>SupCounter<span style="font-size: 15px;">&copy;</span></h2>

					</div>

					<div class="modal-body">
	<!-- 				<img class="img-responsive animated fadeIn" src="/images/marcas/mediterraneo-modal.jpg" alt="">
						<div class="texto-modelo ocultar">
							<img src="/images/logos/el-sol-mediterraneo.jpg" style="left: 0px;"></img>
			        	</div>
						<br> -->
						<p>
							SupCounter<span style="font-size: 9px;">&copy;</span> es una aplicación para la gestión administrativa de consumos procedentes de suministros externos o depósitos,
							y de los resultados de los ensayos sobre aguas de pisicinas y vasos.
							Su ámbito de aplicación es en todas aquellas instalaciones que consten de sistemas de distribución de agua, combustible o electricidad, y piscinas o depóstitos de aguas sujetos a análisis por normativa.
						</p>
						<p>Permite obtener en tiempo inmediato los informes sobre consumos, generando avisos sobre posibles desvíos.</p>
						<p>Genera los informes Siloé de cada vaso o pisicina sujetos a análisis por normativa, y ofrece la posibilidad de descargalos en el formato exigido por el Real Decreto 742/2013, de 27 de septiembre.</p>
						<p>Desarrollado por:</p>
						<p class="text-center">&copy; 2017 cosilsCompany, Inc. &middot;
							<a
								data-toggle="modal"
								data-target="#lopd-modal">Política de privacidad &middot;
							</a>
							<a
								data-toggle="modal"
								data-target="#cookies-modal">Política de cookies
							</a>

						</p>
					</div>

<!--					<a id="acceso" href="/login"><img src="/images/user2.png" alt=""> Login&nbsp;</a> -->
					<div class="modal-footer">
						<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>


		<!-- MODAL poolcounter ===================================================================================== -->
		<div class="modal fade" id="poolcounter-modal" tabindex="-1" role="dialog" aria-labelledby="pie_banner" aria-hidden="true" style="padding-left: 0px">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header text-center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h2>PoolCounter<span style="font-size: 15px;">&copy;</span></h2>

					</div>

					<div class="modal-body">
	<!-- 				<img class="img-responsive animated fadeIn" src="/images/marcas/mediterraneo-modal.jpg" alt="">
						<div class="texto-modelo ocultar">
							<img src="/images/logos/el-sol-mediterraneo.jpg" style="left: 0px;"></img>
			        	</div>
						<br> -->
						<p>

						</p>
						<p></p>
						<p><p>
						<p>Desarrollado por:</p>
						<p class="text-center">&copy; 2017 cosilsCompany, Inc. &middot;
							<a
								data-toggle="modal"
								data-target="#lopd-modal">Política de privacidad &middot;
							</a>
							<a
								data-toggle="modal"
								data-target="#cookies-modal">Política de cookies
							</a>

						</p>
					</div>

<!--					<a id="acceso" href="/login"><img src="/images/user2.png" alt=""> Login&nbsp;</a> -->
					<div class="modal-footer">
						<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>



		<!-- MODAL watercounter ===================================================================================== -->
		<div class="modal fade" id="watercounter-modal" tabindex="-1" role="dialog" aria-labelledby="pie_banner" aria-hidden="true" style="padding-left: 0px">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-header text-center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h2>WaterCounter<span style="font-size: 15px;">&copy;</span></h2>

					</div>

					<div class="modal-body">
	<!-- 				<img class="img-responsive animated fadeIn" src="/images/marcas/mediterraneo-modal.jpg" alt="">
						<div class="texto-modelo ocultar">
							<img src="/images/logos/el-sol-mediterraneo.jpg" style="left: 0px;"></img>
			        	</div>
						<br> -->
						<p>

						</p>
						<p></p>
						<p><p>
						<p>Desarrollado por:</p>
						<p class="text-center">&copy; 2017 cosilsCompany, Inc. &middot;
							<a
								data-toggle="modal"
								data-target="#lopd-modal">Política de privacidad &middot;
							</a>
							<a
								data-toggle="modal"
								data-target="#cookies-modal">Política de cookies
							</a>

						</p>
					</div>

<!--					<a id="acceso" href="/login"><img src="/images/user2.png" alt=""> Login&nbsp;</a> -->
					<div class="modal-footer">
						<button type="btn btn-small" class="btn btn-warning btn-xs" data-dismiss="modal">
							Cerrar
						</button>
					</div>
				</div>
			</div>
		</div>



		<!-- MODAL POLITICA DE PRIVACIDAD ===================================================================================== -->
		<div class="modal fade" id="lopd-modal" tabindex="-1" role="dialog" aria-labelledby="myLOPD" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myLOPD">&copy; cosilsCompany, Inc.</h4>
					</div>
					<div class="modal-body">

						<h3 class="text-center">Política de Privacidad</h3>
						<br>
						<p>A efectos de lo dispuesto en la normativa vigente en materia de protección de datos de carácter personal, mediante esta Política de Privacidad, <strong>&copy; cosilsCompany, Inc.</strong> (en adelante, “cosilsCompany” informa a los usuarios (en adelante, el “Usuario” o “Usuarios”) de su sitio Web <strong>https:registrosdemantenimiento.com</strong> (en adelante, el “Sitio Web”) acerca de su política de protección de los datos de carácter personal recogidos de los Usuarios del Sitio Web, para que éstos determinen libre y voluntariamente si desean facilitar a cosilsCompany los datos personales que se les puedan requerir o que se puedan obtener sobre los mismos con ocasión de su acceso y uso del Sitio Web.</p>

						<p>Los únicos datos personales a los que cosilsCompany tendrá acceso a través del Sitio Web serán aquellos que el Usuario facilite voluntariamente, así como aquellos otros recogidos a través de las cookies instaladas y cuyas condiciones de uso puede consultar nuestra política de cookies.</p>

						<p>En cumplimiento de la normativa vigente, cosilsCompany adopta las medidas técnicas y organizativas necesarias para mantener el nivel de seguridad requerido en atención a los datos personales tratados. Asimismo está dotado de los mecanismos precisos a su alcance para evitar en la medida de lo posible accesos no autorizados, sustracciones y modificaciones ilícitas y la pérdida de los datos.</p>

						<p>Tratamiento de datos de carácter personal facilitados a través del Sitio Web.</p>

						<p>De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal y el Real Decreto 1720/2007, de 21 de diciembre, por el que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999, cosilsCompany, con domicilio en Moralet, 137-A - 03699 Alicante, informa al Usuario que los datos que pueda facilitar a través del Sitio Web serán incorporados a un fichero automatizado de datos de carácter personal titularidad de cosilsCompany. Usted podrá consultar los tratamientos específicos que nuestra Compañía puede hacer con sus datos en cada uno de los apartados de nuestra web donde se recaben sus datos. Le recomendamos leer el contenido de las cláusulas de protección de datos que se incluyen en cada apartado a la hora de recabar sus datos. Con carácter general se tratarán sus datos con las siguientes finalidades:</p>
						<ul>
							<li>Contacto: Los datos recabados serán incorporados a un fichero (que podrá ser automatizado) responsabilidad de cosilsCompany, a los efectos de poder gestionar o en su caso, tener en cuenta y/o contestar a su consulta, comentario o sugerencia.</li>

							<li>En todos los formularios de recogida de datos presentes en el Sitio Web, cosilsCompany facilita una casilla mediante la cual el Usuario podrá oponerse/negarse a la cesión indicada.</li>

							<li>El consentimiento otorgado por el Usuario podrá ser revocado mediante notificación dirigida a la siguiente dirección de correo electrónico: contacto@registrosdemantenimiento.com o bien por correo ordinario dirigido a cosilsCompany, Moralet, 137-A - 03699 Alicante.</li>

							<li>El Usuario se responsabiliza de la veracidad y exactitud de los datos personales comunicados, reservándose cosilsCompany el derecho a excluir de los servicios registrados a todo Usuario que haya facilitado datos falsos, sin perjuicio de las demás acciones que procedan en Derecho.</li>

							<li>En cualquier caso, el Usuario podrá hacer efectivo el ejercicio de sus derechos de acceso, rectificación, cancelación y oposición, mediante e-mail dirigido a contacto@registrosdemantenimiento.com, así como mediante petición escrita dirigida a la dirección postal antes señalada.</li>

							<li>Finalmente Ud. se compromete a comunicar a cosilsCompany cualquier modificación de los datos personales facilitados.</li>

							<li>En caso de que el Usuario sea menor de 14 años, sus datos personales deben ser facilitados con autorización de su representante legal.</li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning btn-xs" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>

		<!-- MODAL POLITICA DE COOKIES ===================================================================================== -->
		<div class="modal fade" id="cookies-modal" tabindex="-1" role="dialog" aria-labelledby="myCookies" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myCookies">&copy; 2017 cosilsCompany, Inc.</h4>
					</div>
					<div class="modal-body">

						<h3 class="text-center">Política de Cookies</h3>
						<br>
						<p>Cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. El navegador del usuario memoriza cookies en el disco duro solamente durante la sesión actual, 	ocupando un espacio de memoria mínimo y no perjudicando al ordenador. Las cookies no contienen ninguna clase de información personal específica, y la mayoría de las mismas se borran del disco duro al finalizar la sesión de navegador (las denominadas cookies de sesión).</p>

						<p>La mayoría de los navegadores aceptan como estándar a las cookies y, con independencia de las mismas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.</p>

						<p>Sin su expreso consentimiento –mediante la activación de las cookies en su navegador– no enlazará en las cookies los datos memorizados con sus datos personales proporcionados en el momento del registro o la compra.</p>

						<p><strong>¿Qué tipos de cookies utiliza esta página web?</strong></p>

						<ul>
							<li>Cookies técnicas: Son aquéllas que permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.</li>

							<li>Cookies de personalización: Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc...</li>

							<li>Cookies de análisis: Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.</li>

							<li>Cookies publicitarias: Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos mostrarle publicidad relacionada con su perfil de navegación.</li>

							<li>Cookies de publicidad comportamental: Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el editor haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</li>
						</ul>

						<p><strong>Cookies de terceros:</strong> La Web de SupCounter puede utilizar servicios de terceros que, por cuenta de cosilsCompany, recopilarán información con fines estadísticos, de uso del Site por parte del usuario y para la prestacion de otros servicios relacionados con la actividad del Website y otros servicios de Internet.</p>

						<p>En particular, este sitio Web utiliza Google Analytics, un servicio analítico de web prestado por Google, Inc. con domicilio en los Estados Unidos con sede central en 1600 Amphitheatre Parkway, Mountain View, California 94043.  Para la prestación de estos servicios, estos utilizan cookies que recopilan la información, incluida la dirección IP del usuario, que será transmitida, tratada y almacenada por Google en los términos fijados en la Web Google.com. Incluyendo la posible transmisión de dicha información a terceros por razones de exigencia legal o cuando dichos terceros procesen la información por cuenta de Google.</p>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning btn-xs" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
