/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* CONTROL FORMATO PANTALLA MOVIL =========================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */


@media handheld, only screen and (max-width: 767px) {			/* movil */

    .container-fluid {

        padding-right: 5px;
        padding-left: 5px;


    }

/*    #principal, #partes_index,  {               añadir los index y los shows de partes, contadores, resumen....................
        padding-right: 0px;
        padding-left: 0px;
    } */




    /* ============================================================  */
    /* ======= PARTES =============================================  */
    /* ============================================================  */


    .comments {

        padding: 0px;
    }



    .comment-panel {						/* estilo de cada lectura */


/*        color: #fff;
		background-color: 	rgba(0, 0, 0, 0.8);
		border: 		1px solid #D8D8D8; */
	}




    /* ============================================================  */
    /* ======= RESUMEN =============================================  */
    /* ============================================================  */


    #leyenda {
        text-align: left;
    }





}
