/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* CONTROL FORMATO PANTALLA TABLET ========================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */


@media only screen and (max-width: 1023px) {  			/* tablet */
@media only screen and (min-width: 768px) {  			/* tablet */

    .ocultar_pc {

        visibility: visible;

    }


    /* INICIO =============================================================== */

    #inicio {

        min-height: 460px;

    }

    #inicio img{

        min-height: 460px;

    }


    #menu-inicio {
        font-size: 1.2vw;
    }



    /* SECCION 01 =============================================================== */
    /* SECCION 01 =============================================================== */
    /* SECCION 01 =============================================================== */

    #seccion_01 {

		max-height: 100%;

        margin-bottom: 0px;

    }

    #seccion_01_items {

        margin-top: 5vh;
		margin-bottom: 5vh;


    }

    .seccion_item {

        margin-bottom: 80px;


    }


    .seccion_item:nth-child(1) {
        border-left: 1px solid #E6E6E6;
    }



    /* ============================================================  */
    /* ======= PARTES =============================================  */
    /* ============================================================  */

    .comment-panel {

        min-height: 425px;

    }


    /* ============================================================  */
    /* ======= RESUMEN =============================================  */
    /* ============================================================  */


    #leyenda {
        text-align: left;
    }




    /* ========================================================================== */
    /*  SILOE                 =================================================== */
    /* ========================================================================== */










    /* ========================================================================== */
    /* = ENSAYOS ================================================================ */
    /* ========================================================================== */


    .item_ensayo {

		text-align: left;

	}


    .marco_item {

		min-height: 270px;


    }





    /* ========================================================================== */
    /*  ============================================================ */
    /* ========================================================================== */





    /* ======================================================================================== */
    /*  ============================================================================ */
    /* ======================================================================================== */




    /* =========================================================================================== */
    /* =======  ========================================================================= */
    /* =========================================================================================== */



}
}
