/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* CONTROL FORMATO PANTALLA TABLET ========================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */
/* ========================================================================================================== */


@media only screen and (max-width: 1023px) {  			/* tablet */
@media only screen and (min-width: 768px) {  			/* tablet */


    /* SECCION 01 =============================================================== */
    /* SECCION 01 =============================================================== */
    /* SECCION 01 =============================================================== */

    .seccion_item {

        margin-bottom: 80px;


    }


    .seccion_item:nth-child(1) {
        border-left: 1px solid #999999;
    }



    /* ============================================================  */
    /* ======= PARTES =============================================  */
    /* ============================================================  */

    .comment-panel {

        min-height: 425px;

    }


    /* ============================================================  */
    /* ======= RESUMEN =============================================  */
    /* ============================================================  */


    #leyenda {
        text-align: left;
    }




    /* ========================================================================== */
    /*  =================================================== */
    /* ========================================================================== */






    /* ========================================================================== */
    /*  =================================================== */
    /* ========================================================================== */





    /* ========================================================================== */
    /*  ============================================================ */
    /* ========================================================================== */





    /* ======================================================================================== */
    /*  ============================================================================ */
    /* ======================================================================================== */




    /* =========================================================================================== */
    /* =======  ========================================================================= */
    /* =========================================================================================== */



}
}
