
<div class="container" id="new-edit">

	<h4>Edite el parte</h4>

	<form class="form-horizontal" 
			method="post" 
			action="/quizes/<%= quiz.id %>?_method=put">							
	    							
		<% include _form.ejs %>
		
	</form>

</div>