
    <!-- MODAL aviso maximo antiguedad ===================================================================================== -->

    <div class="alert alert-info avisos animated animated-fast fadeIn" role="alert">

        <h5>Este parte no permite edición. Ha superado la antiguedad máxima permitida para ser modificado.</h5>
        <div class="form-group text-center">

    		<ul class="tira_botones">

    			<li><a class="btn btn_gral" href="/quizes">
    				Continuar
    			</a></li>

    		</ul>

    	</div>



    </div>
