
    <!-- MODAL aviso maximo contadores ===================================================================================== -->

    <div class="alert alert-info avisos animated animated-fast fadeIn" role="alert">

        <h5>Ha alcanzado el máximo de contadores. Para más informarción contacte con el administrador de este sitio web.</h5>
        <div class="form-group text-center">

    		<ul class="tira_botones">

    			<li><a class="btn btn_gral" href="/contadores">
    				Continuar
    			</a></li>

    		</ul>

    	</div>



    </div>
