
    <div class="container" id="criterio_form">

        <br>

        <div class="form-group">
            <label for="mes" class="col-md-3 col-sm-3 col-xs-3 control-label">Mes:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <select class="form-control" id="mes" name="criterio[mes]" value="<%= criterio.mes %>">

                    <option value=1 <%if (criterio.mes===1) {%> selected <%}%>>Enero</option>
                    <option value=2 <%if (criterio.mes===2) {%> selected <%}%>>Febrero</option>
                    <option value=3 <%if (criterio.mes===3) {%> selected <%}%>>Marzo</option>
                    <option value=4 <%if (criterio.mes===4) {%> selected <%}%>>Abril</option>
                    <option value=5 <%if (criterio.mes===5) {%> selected <%}%>>Mayo</option>
                    <option value=6 <%if (criterio.mes===6) {%> selected <%}%>>Junio</option>
                    <option value=7 <%if (criterio.mes===7) {%> selected <%}%>>Julio</option>
                    <option value=8 <%if (criterio.mes===8) {%> selected <%}%>>Agosto</option>
                    <option value=9 <%if (criterio.mes===9) {%> selected <%}%>>Septiembre</option>
                    <option value=10 <%if (criterio.mes===10) {%> selected <%}%>>Octubre</option>
                    <option value=11 <%if (criterio.mes===11) {%> selected <%}%>>Noviembre</option>
                    <option value=12 <%if (criterio.mes===12) {%> selected <%}%>>Diciembre</option>

                </select>

            </div>
        </div>

        <div class="form-group">
            <label for="max" class="col-md-3 col-sm-3 col-xs-3 control-label">Límite máximo:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="number" min="0" class="form-control" id="max" name="criterio[max]" value="<%= criterio.max %>" step="0.1"/>
            </div>
        </div>

        <div class="form-group">
            <label for="min" class="col-md-3 col-sm-3 col-xs-3 control-label">Límite mínimo:</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="number" min="0" class="form-control" id="min" name="criterio[min]" value="<%= criterio.min %>" step="0.1"/>
            </div>
        </div>


    </div>

    <br>

    <div class="form-group text-center">
        <ul class="tira_botones">
            <li><a class="btn btn_gral btn_cancelar" href="/contadores/<%= contador.id %>">
                <i class="fa fa-times texto_tipo_5" alt=""></i> Cancelar
            </a></li>
            <li><button class="btn btn_gral" type="submit" id="grabar" value="Salvar">
                <i class="fa fa-check texto_tipo_4" alt=""></i> Grabar
            </button></li>
        </ul>
    </div>
