
    <div class="container margen_superior">

        <h4>Nuevo criterio:</h4>

        <form class="form-horizontal" method="post" action="/contadores/<%= contador.id %>/criterios/create" >
            <% include _form.ejs %>
        </form>

    </div>
