
	<div class="container margen_superior" id="new-edit">

		<h4>Editar: </h4>

		<form class="form-horizontal"
				method="post"
				action="/siloes/<%= siloe.id %>?_method=put">

			<% include _form.ejs %>

		</form>

	</div>
