

<div class="container-fluid animated animated-fast fadeIn margen_superior" id="resumen">



    <div class="row" id="head_consumos">

        <h4>&nbsp;&nbsp;<img src="/images/consumos2.png" alt="" /> Siloes</h4>


        <a class="noprint" role="button" data-toggle="collapse" data-parent="#accordion" href="#leyenda" aria-expanded="true" aria-controls="collapseOne">
            <img src="/images/info8.png"/>
        </a>

<!--        <a class="noprint" type="button" name="imprimir" value="imprimir" onclick="doPrint();">
            <img src="/images/printer.png"/>
        </a> -->

        <a type="button" name="imprimir" value="imprimir" href="/siloes/imprimir_resumen">
            <img src="/images/printer.png"/>
        </a>


        <div id="leyenda" class="panel-collapse collapse text-center" role="tabpanel">
            <div class="panel-body">


                <div class="col-md-2">

<!--                    <a
                        data-toggle="modal"
        				data-target="#alerta-modal"> -->
        					<img src="/images/info4.png"> Alerta</img>
<!--        			</a> -->


                </div>
                <div class="col-md-2">

                    <img src="/images/alert2.png" /> Alerta/Comentario

                </div>
                <div class="col-md-2">

                    <img src="/images/info7.png" style="width: 20px" /> Aviso

                </div>
                <div class="col-md-2">

                    <img src="/images/alert1.png" /> Aviso/Comentario

                </div><div class="col-md-2">

                    <img src="/images/info5.png"> Cumple/Comentario</img>

                </div><div class="col-md-2">

                    <img src="/images/ok.png" /> Cumple

                </div>

            </div>

        </div>

    </div>  <!-- .end head_consumos -->

    <br>


        <h5>vaso: <%= vaso.nombre %></h5>

        <% include resultados_ph.ejs %>







</div>
