

<div class="container animated animated-fast fadeIn centrado-v-h margen_superior" id="resumen_index">

    <div class="" style="border:none;">

        <br>
        <h4 class="text-center">Siloe</h4>
        <h6 >Se descargará un archivo de formato Excel en su equipo con los resultados de todos los vasos del año selecionado.</h6>
        <br>

        <form class="form-horizontal" action="/siloes/<%= anio %>/excel" method="get">

            <div class="form-group">
        		<label for="anio" class="col-md-3 col-sm-3 col-xs-3 control-label">Año:</label>
        		<div class="col-md-6 col-sm-6 col-xs-6">
        			<select class="form-control" id="anio" name="anio">

        				<option value=2015 <%if (anio===2015) {%> selected <%}%>>2015</option>
        				<option value=2016 <%if (anio===2016) {%> selected <%}%>>2016</option>
        				<option value=2017 <%if (anio===2017) {%> selected <%}%>>2017</option>
        				<option value=2018 <%if (anio===2018) {%> selected <%}%>>2018</option>
        				<option value=2019 <%if (anio===2019) {%> selected <%}%>>2019</option>
        				<option value=2020 <%if (anio===2020) {%> selected <%}%>>2020</option>

        			</select>
        		</div>
        	</div>

            <br>

            <div class="form-group text-center">

                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Descargar Excel</button>

            </div>


            <br>


        </form>


    </div>



</div>
