
    <div class="container margen_superior" id="new-edit">

    	<h4>Modificar contacto</h4>

    	<form class="form-horizontal"
    			method="post"
    			action="/contactos/<%= contacto.id %>/update?_method=put">

    		<% include _form.ejs %>

    	</form>



    </div>
