


	<div class="container" id="login">

		<div class="panel" id="login-panel">

			<form class="form-horizontal centrado-v-h" method='POST' action='/login'>

				<div class="form-group">

					<div class="input-group">

						<div class="input-group-addon"><img src="/images/user2.png" style="width: 18px;" alt="" /></div><input class="form-control" type="text" id="login" name="login"  placeholder="usuario"/>

					</div>

					<br>

					<div class="input-group">

						<div class="input-group-addon"><img src="/images/key.png" style="width: 18px;" alt="" /></div><input class="form-control" type="password" id="password" name="password" placeholder="clave"/>

					</div>

					<br>

					<div class="input-group centrado-v-h">

						<button class="btn btn-default" type="submit"><i class="fa fa-check"></i> Entrar</button>

					</div>

				</div>

			</form>

		</div>

	</div>




















<!--	<div class="container" id="login">

		<h4>Usuario</h4>

		<form class="form-horizontal" method='POST' action='/login'>
			<div class="form-group">
				<div class="field">
					<label for="login">Login:</label><br />
					<input type="text" id="login" name="login" size="30" />
				</div>
				<div class="field">
					<label for="password">Password:</label><br />
					<input type="password" id="password" name="password" size="30" />
				</div>
				<div class="actions">
					<br>
					<input name="commit" type="submit" value="Login "></input>
				</div>
			</div>
		</form>

	</div> -->
