
    <div class="container" id="new-edit">

    	<h4>Nuevo centro de trabajo</h4>

    	<form class="form-horizontal"
    			method="post"
    			action="/centros/create">

    		<% include _form.ejs %>

    	</form>



    </div>
